# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
*.env
env/
venv/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Temporary files
tmp/
temp/

#Whiteboard Outputs
whiteboard_exports/
